/* contacto */

.main__div--formContainer {
    clear: both;
    width: 500px;

    .form__input {
        clear: both;
        width: 100%;
    }
}

.formBoton {
    clear: both;
    width: 100px;
}

.limpiar {
    margin-left: 30%;
}