/* contacto */
iframe {
    width: 100%;
}
.main__div--formContainer {
    clear: both;
    text-align: center;
    width: 500px;

    .form__input {
        clear: both;
        width: 100%;
    }
}

.formBoton {
    clear: both;
    width: 100px;
}
