/* Ofertas */
.items {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    justify-content: center;
    padding: 50px 200px;
    text-align: center;
}

.card {
  background-color: white;
  border-radius: 0%;
  height: 100px;
  justify-content: space-around;
  width: 200px;
  margin: auto;
}

.items {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 50px 50px;
  grid-template-areas: 
      ". . .";
  justify-content: center;
  padding: 50px 200px;
  text-align: center;
}

.itemImg {
  height: 200px;
  width: 200px;
}

.itemImg:hover {
  filter: drop-shadow(5px 5px 5px black);
  transition: filter 2s;
}

.precioOferta {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.precio {
    margin: 5px;
}

.div__h6--precioAnterior {
    font-size: 1em;
    font-weight: 150;
    text-decoration: line-through;
}

.boton {
    display: inline-block;
    margin: 0px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 15px;
}
  
.boton:hover {
    background-color: rgb(63, 63, 63);
}
  
.boton:active {
    background-color: rgb(63, 63, 63);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}