.header__nav {
    background-color: #222;
    display: flex;
    align-items: center;
    width: 100%;

    svg {
        display: flex;

        path {
            fill: white;
        }
    }

    .nav__ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-decoration: none;
        width: 100%;
    }

    a {
        color: #9D9D9D;
        font-family: 'Libre Baskerville', serif;
        font-size: 1em;
        margin: 10px;
        text-decoration: none;
    }

    a.icon {
        display: none;
    }

    .nav__a--hover:hover {
        text-decoration: underline;
    }

    a:focus-visible {
        color: white;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link:hover {
            color: white;
        }

        .nav-link {
            color: #9D9D9D;
            text-decoration: none;
        }
    }
}