/* Ofertas */
.grillaOfertas {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    justify-content: center;
    padding: 50px 200px;
    text-align: center;
}

.section {
    .section__div {
        .div__h3--margen {
            margin-bottom: 10px;
        }
    }
}

.precioOferta {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.precio {
    margin: 5px;
}

.div__h4--precioAnterior {
    font-size: 1em;
    font-weight: 150;
    text-decoration: line-through;
}