@media only screen and (max-width: 768px) {
    iframe {
        width: 100%;
    }

    nav {
        svg {
            margin: auto;
            width: 50%;
        }
    }

    .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu {
        z-index: 1001;
    }

    .items {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px;
        grid-template-areas: 
            "."
            "."
            ".";
        padding: 0 0;
    }
}