@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    iframe {
        width: 100%;
    }

    nav {
        svg {
            margin-left: 10px;
            width: 50%;
        }
    }

    .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        position: relative;
        z-index: 1;
    }

    .topnav {
        overflow: hidden;
        background-color: #222;
        position: relative;

        #myLinks {
            display: none;
        }

        a {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
        }

        a.icon {
            display: block;
            position: absolute;
            right: 10px;
            top: 12px;
        }

        a:hover {
            background-color: #222;
            color: white;
        }
    }
    
    .active {
        color: white;
    }

    .items {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px;
        grid-template-areas: 
            "."
            "."
            ".";
        padding: 0 0;
    }
}