* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    width: 100%;
}

nav {
    background-color: #222;
    display: flex;
    align-items: center;
    width: 100%;
}

nav svg {
    display: flex;
}

svg path {
    fill: white;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-bottom: 10px;
    text-decoration: none;
    width: 100%;
}

nav a {
    color: #9D9D9D;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    margin: 10px;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #9D9D9D;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

nav ul ul {
    background-color: #222;
    color: #9D9D9D;
    display: none;
    margin-top: 10px;
    position: absolute;
    width: 150px;
}

.dropdown-menu {
    background-color: #222;
}

.navbar-light .navbar-nav .nav-link {
    color: #9D9D9D;
}

nav ul ul li {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
    margin: 2px;
    padding: 2px;
}

nav ul li:hover ul {
    display: block;
    margin-top: 0px;
    padding-top: 5px;
    position: absolute;
}

nav a:hover {
    text-decoration: underline;
}

nav a:focus-visible {
    color: white;
}

.mainTodo {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

body {
    background-color: #bdcad9;
    background-image: linear-gradient(0deg, #bdcad9 0%, #e1dada 74%);
    background-repeat: no-repeat;
}

.news {
    width: 100%;
}

.carousel-indicators li {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.carousel-item img {
    width: 100%;
    height: 300px;
}

/* iframe {
    display: flex;
    height: 400px;
    margin: auto;
    padding: 10px;
    width: 560px;
} */

.seccion2 {                         /* clase del div */
    text-align: center;             /* el div centrado */
}

.destacados {                          /* clase del h2 */
    color: steelblue;                /* color de la tipografia */
    font-size: 30px;
    font-style: italic;                /* tipografia con italica */
    padding-top: 30px;
}

.seccion2 p {
    padding: 20px;
}

.items {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 50px 50px;
    grid-template-areas: 
        ". . .";
    justify-content: center;
    padding: 50px 200px;
    text-align: center;
}

.caract {
    flex-direction: column;
    font-style: oblique;            
    list-style: none;
}

.itemImg {
    height: 200px;
    width: 200px;
}

.itemImg:hover {
    filter: drop-shadow(5px 5px 5px black);    
    transform: rotateY(180deg) scale(105%);
    transition: filter 2s;
}

.price {
    margin-top: 10px;
}

/* Ofertas */
.grillaOfertas {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    justify-content: center;
    padding: 50px 200px;
    text-align: center;
}

section div h3 {
    margin-bottom: 10px;
}

.precioOferta {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.precio {
    margin: 5px;
}

.precioAnterior {
    font-size: 1em;
    font-weight: 150;
    text-decoration: line-through;
}

/* Nosotros */
h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4em;
    padding: 20px;
    text-align: center;
}

.nosotros {
    display: flex;
    justify-content: center;
    padding: 20px 90px;
}

.parrafoIzquierdo, .parrafoDerecho {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    margin: 20px;
    width: 50%;
}

.imagenRight {
    height: 300px;
    width: 400px;
}

.imagenLeft {
    height: 300px;
    width: 400px;
}

.parrafoIzquierdo {
    padding-right: 10px;
}

.parrafoDerecho {
    padding-left: 10px;
}

/* contacto */

.formContainer {
    clear: both;
    width: 500px;
}

.formContainer .input {
    clear: both;
    width: 100%;
}

.formBoton {
    clear: both;
    width: 100px;
}

.limpiar {
    margin-left: 30%;
}

footer {
    background: #222;
    color: #9D9D9D;
    margin-top: 5%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 100%;
    }

    nav svg {
        margin: auto;
        width: 50%;
    }

    .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu {
        z-index: 1001;
    }

    .items {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px;
        grid-template-areas: 
            "."
            "."
            ".";
        padding: 0 0;
    }
}